[Container]
Image=localhost/buonhobo/uscitibot:latest
Network=host
Volume=/home/shared/.config/uscitibot:/uscitibot:z
ContainerName=uscitibot

[Service]
# Inform systemd of additional exit status
SuccessExitStatus=0 143
RestartSec=30
Restart=on-failure

[Install]
# Start by default on boot
WantedBy=default.target

[Unit]
StartLimitIntervalSec=240
StartLimitBurst=5
