[Unit]
Description=flaresolverr podman container from linuxserver
Wants=network-online.target
After=network-online.target


[Container]
Image=docker.io/21hsmw/flaresolverr:nodriver
ContainerName=flaresolverr
Environment=TZ=Europe/Rome
Environment=DRIVER=nodriver
PublishPort=8191:8191
AutoUpdate=registry
SecurityLabelDisable=true
Network=servarr.network

[Service]
Restart=always

[Install]
WantedBy=default.target
