[Unit]
Description=protonvpn (gluetun) podman container
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/qmcgaw/gluetun:latest
ContainerName=protonvpn
Volume=/home/shared/.config/gluetun:/gluetun:Z
Environment=VPN_SERVICE_PROVIDER=protonvpn
Environment=VPN_TYPE=wireguard
Environment=WIREGUARD_PRIVATE_KEY=REDACTED
Environment=SERVER_COUNTRIES=Italy
Environment=PORT_FORWARD_ONLY=on
Environment=VPN_PORT_FORWARDING=on

PublishPort=7878:7878
PublishPort=8989:8989
PublishPort=9696:9696
PublishPort=6767:6767
PublishPort=8080:8080
PublishPort=8000:8000
PublishPort=11011:11011
PublishPort=8191:8191
PublishPort=6881:6881/tcp
PublishPort=6881:6881/udp

AutoUpdate=registry

AddCapability=NET_ADMIN
AddCapability=NET_RAW
AddDevice=/dev/net/tun

[Service]
Restart=always

[Install]
WantedBy=default.target
