[Unit]
Description=qbittorrent podman container from linuxserver
Wants=network-online.target
After=network-online.target


[Container]
Image=lscr.io/linuxserver/qbittorrent
ContainerName=qbittorrent
Environment=PUID=1001
Environment=PGID=1001
Environment=TZ=Europe/Rome
Environment=WEBUI_PORT=8080
Volume=/home/shared/.config/qbittorrent-nox:/config:Z
Volume=/home/shared/Media:/data:z
#PublishPort=8080:8080
#PublishPort=6881:6881/tcp
#PublishPort=6881:6881/udp
AutoUpdate=registry
Network=container:protonvpn

[Service]
Restart=always

[Install]
WantedBy=default.target
