[Unit]
Description=jellyfin podman container from linuxserver
Wants=network-online.target
After=network-online.target


[Container]
Image=lscr.io/linuxserver/jellyfin
ContainerName=jellyfin
Environment=PUID=1001
Environment=PGID=1001
Environment=TZ=Europe/Rome
Environment=WEBUI_PORT=8080
HostName=minipc
Volume=/home/shared/.config/jellyfin:/config:Z
Volume=/home/shared/Media/Jellyfin/Shows:/data/tvshows:z
Volume=/home/shared/Media/Jellyfin/Movies:/data/movies:z
PublishPort=8096:8096
PublishPort=8920:8920
PublishPort=7359:7359/udp
PublishPort=1900:1900/udp
AutoUpdate=registry
AddDevice=/dev/dri


[Service]
Restart=always

[Install]
WantedBy=default.target
