[Unit]
Description=speedtest-tracker podman container from linuxserver
Wants=network-online.target
After=network-online.target


[Container]
Image=lscr.io/linuxserver/speedtest-tracker:latest
ContainerName=speedtest-tracker
Environment=TZ=Europe/Rome
Environment=DISPLAY_TIMEZONE=Europe/Rome
Environment=PUID=1001
Environment=PGID=1001
Environment=APP_KEY=base64:O3XHKpmcPBmFDJLZ6+3heKgL32kGvqTLi1aqbWT0OjI=
Environment=DB_CONNECTION=sqlite
Environment=SPEEDTEST_SCHEDULE="0 * * * *"
Environment=SPEEDTEST_SERVERS=""
PublishPort=5643:80
Volume=/home/shared/.config/speedtest-tracker:/config:Z
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
