[Unit]
Description=Homebrew Auto Update

[Service]
ExecStart=/home/linuxbrew/.linuxbrew/bin/brew update
ExecStartPost=/home/linuxbrew/.linuxbrew/bin/brew  cleanup
