KERNEL=="hidraw*", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="3434", ATTRS{idProduct}=="0410", MODE="0660", GROUP="buonhobo", TAG+="uaccess", TAG+="udev-acl"
